.container {
    width: 90vw;
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(74, 0, 97);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    color: azure;
}

.header__toggle_charts {
    margin-right: 1.5rem;
}

.header__toggle_btn {
    border: none;
    width: 6rem;
    margin-right: 5px;
    padding: 0.1rem 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.76);
    background-color: rgba(255, 255, 255, 0.5);
}

.active{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 0;
    background-color: rgb(174, 0, 255);
}

.header__toggle_btn:hover {
    border: none;
    padding: 0.2rem 0;
    color: white;
    background-color:rgba(255, 255, 255, 0.651);
}

.active:hover {
    background-color: rgb(174, 0, 255);
}

.header__label {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.loading__circle {
    height: 5rem;
    width: 5rem;
    margin-top: 5rem;
    border: 0.5rem solid rgb(74, 0, 97, 0.2);
    border-top: 0.5rem solid rgba(74, 0, 97);
    border-radius: 50%;
    animation: loading 2s infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 2rem 2rem 2rem;
}

.chart {
    display: grid;
    grid-template-areas: "field y" "x set";
    position: relative;
    margin: 1rem;
}

.modal_chart {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(35, 15, 54, 0.644);
    z-index: 100;
}

.modal_chart__content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
}

.modal_chart__input {
    width: 40%;
}

.modal_chart__btn {
    padding: 0.2rem 1.5rem;
}

canvas {
    border: 1px solid rgb(74, 0, 97);
    display: block;
}

.chart__field {
    grid-area: field;
}

.chart__label {
    position: absolute;
    padding: 2px 3px;
    top: 15px;
    left: 15px;
    background-color: rgba(119, 119, 119, 0.281);
    font-size: 0.8rem;
}

.chart__field_overlay {
    cursor: crosshair;
    position: absolute;
    top: 0;
    left: 1px;
    border: none;
}

.chart__axis_y {
    grid-area: y;
    border-left: none;
}

.chart__axis_x {
    grid-area: x;
    border-top: none;
}

.chart__set {
    grid-area: set;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(74, 0, 97);;
    border-right: 1px solid rgb(74, 0, 97);;
    cursor: pointer;
}

.chart__set:hover {
    background-color: rgb(180, 180, 180);
}
